.footer {
  display: flex;
  gap: 5vw;
  padding: 30px 50px;
  justify-content: space-between;
  /* align-items: center; */
  background: linear-gradient(
    180.06deg,
    #2f81e0 0.05%,
    #1a6dbb 0.06%,
    #020b14 121.64%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.f1 {
  display: flex;
  flex-direction: column;
  width: 20vw;
  gap: 10vh;
}
.f1 .links {
  display: flex;
  gap: 2vw;
}

.f1 Link {
  color: white;
}

.f1 p {
  font-size: 20px;
}
.f2 {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.f2-l {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.f2-l a {
  color: white;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
}

.f3 {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.f3 p {
  font-size: 17px;
}

.f3 p a {
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 750px) {
  .f3 h3{
    font-size: 24px;
  }
}

@media only screen and (max-width: 700px) {
  .f3 p {
    font-size: 12px;
  }
  .f2-1 a{
    font-size: 15px;
  }
  .f1 p{
    font-size: 17px;
  }
  .f1{
    gap:5vh;
  }
  .f3 h3{
    font-size: 20px;
  }
}
@media only screen and (max-width: 590px){
  .f3 h3{
    font-size: 18px;
  }
}
@media only screen and (max-width: 550px){
  .f3 h3{
    font-size: 16px;
  }
}
@media only screen and (max-width: 490px) {
    .footer{
        padding: 20px 40px;
    }
  .f3 p {
    font-size: 10px;
  }
  .f1 p {
    font-size: 15px;
    width: 40vw;
  }
  .f2-1 a {
    font-size: 15px;
  }
  .f2{
    display: none;
  }
  .f1{
    gap:2vh;
  }
  .f3 h3{
    font-size: 15px;
  }
}
@media only screen and (max-width: 440px){
  .f3 h3{
    font-size: 13px;
  }
}
@media only screen and (max-width: 400px) {
  .f3 p {
    font-size: 8px;
  }
  .f3 p a {
    font-size: 11px;
  }
}
@media only screen and (max-width: 380px){
  .f3 h3{
    font-size: 12px;
  }
}
@media only screen and (max-width: 350px){
  .f3 p{
    font-size: 7px;
  }
  .f1{
    gap:0;
  }
  .f3 h3{
    font-size: 10.5px;
  }
}
