.home {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-image: url(Teams.webp);
    visibility: 0.3;
    backface-visibility: 0.3;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* width: 100vw; */
    overflow-x: none;
    /* gap: 40px; */
    overflow: none;
    /* height: 90vh; */
    /* filter: blur(0.5px); */
    margin-top: 0;
}

.home-1 {
    display: flex;
    flex-direction: column;
    padding: 50px 70px;
    width: 55vw;
    gap: 20vh;
    height: 80vh;
    text-align: center;
    position: relative;

}

.home-1-1 {
    display: flex;
    flex-direction: column;
    /* gap: 7vh; */
}


.home-1-h1 {
    /* font-size: 4vw;
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 800;
    line-height: 5vw; */
    font-size: 3vw;
    font-family: 'Jaldi';
    font-style: normal;
    width: 100%;
    display: flr;
    display: flex;
    justify-content: center;
    font-weight: 800;
    line-height: 5vw;
    /* color: rgb(5, 209, 182); */
    font-weight: 700;
    text-align: center;
    /* margin-left: 50px; */
    /* background-color: rgb(9, 231, 216); */
    margin: 0;
    /* color: rgb(250, 248, 248); */
    background-image: url("../../asset/h-top-bg.jpg");
    /* background-size:100% 100%; */
    background-repeat: no-repeat;
}

.home-1 p {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    /* font-size: 22.02px; */
    line-height: 30px;
    font-size: 22px;
}

.home-2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 70px;
    align-items: center;
    justify-content: space-between;
}

.home-2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-2-left {
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 10vh;
}

.home-2-left h2 {
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 39.9486px;
    line-height: 60px;
    letter-spacing: 0.01em;
}

.home-2-left p {
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 19.2026px;
    line-height: 29px;
    letter-spacing: 0.01em;

}

.home-2 img {
    width: 25vw;
    height: 25vw;
    margin-bottom: 10vw;
    margin-left: 3vw;
}

.home-3 {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 70px;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-4 {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 70px;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-3 h2 {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 36.02px;
    line-height: 40px;
}

.home-3-card {
    display: flex;
    gap: 50px;
}

.home-3-card h2 {
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.home-3-card p {
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.about-card {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    background: linear-gradient(182.15deg, #F9FFDF -83.5%, #C7E6FF 102.45%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-card img {
    border-radius: 5px;
}

.btn {
    width: 12vw;
    background-color: #175B9F;
    border: 1px solid #175B9F;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 16px 0;
    cursor: pointer;
    font-size: 15px;
}

.btn:hover {
    background-color: white;
    color: #175B9F;
    border: 1px solid #175B9F;
}

.news-sec h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.news-sec ul {
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 19.2026px;
    line-height: 29px;
    letter-spacing: 0.01em;
}

@media only screen and (max-width:900px) {
    .btn {
        width: 17vw;
    }

    .home-2 img {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width:750px) {
    .home-3-card {
        flex-direction: column;
    }

    .about-card img {
        width: 30vw;
    }
}

@media only screen and (max-width:700px) {
    .home-1 {
        width: 70vw;
        padding: 50px 50px;
    }

    .home-2 {
        gap: 5vh;
        padding: 50px 10px;
    }

    .home-3 {
        padding: 50px 30px;
    }

    .home-2-1 {
        flex-direction: column-reverse;
        gap: 5vh;
    }
}

@media only screen and (max-width:650px) {
    .home-2 img {
        width: 230px;
        height: 270px;
    }

    .home-3-card h2 {
        font-size: 19px;
    }
}

@media only screen and (max-width:600px) {
    .home-1 {
        gap: 30vh;
        width: 85vw;
    }

    .home-1 h1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 4vh;
    }

    .home-1 p {
        font-size: 18px;
        font-weight: 400;
    }

    .home-2 {
        gap: 5vh;
    }

    .home-2-1 {
        flex-direction: column-reverse;
        gap: 5vh;
    }

    .home-3 h2 {
        font-size: 35px;
    }

    .home-3-card h2 {
        font-size: 19px;
    }

    .btn {
        width: 30vw;
    }
}

@media only screen and (max-width:450px) {
    .home-2 img {
        width: 220px;
        height: 270px;
    }

    .btn {
        font-size: 13px;
        width: 35vw;
    }

    .home-3 h2 {
        font-size: 32px;
    }

    .home-2-left p {
        font-size: 15px;
    }

    .home-3-card h2 {
        font-size: 16px;
    }

    .home-3-card p {
        font-size: 14px;
    }
}

@media only screen and (max-width:380px) {
    .home-3-card h2 {
        font-size: 14px;
    }

    .home-3-card p {
        font-size: 11px;
    }
}